<br>
<h1 style="text-align: center;">Boston Maraton Board</h1>
<br>
<div class="homepage">
<br>
<h1>Existing Boards</h1>
<br>

<ul>
  <% if Board.all.present? %>
    <% Board.all.each do |b| %>
      <h3><%= link_to b.title, board_path(b) %></h3>
    <% end %>
  <% else %>
    <p>No boards created yet! Create one below!
  <% end %>
</ul>
<hr>
<br>
<h2>Create New Board</h2>
<br>
<%= form_for Board.new do |f| %>
  <p>
    <%= f.label :title %>&nbsp;
    <%= f.text_field :title, placeholder: "Ex. London" %>
  </p>
  <%= f.submit %>
<% end %>
</div>