<div class="header"> 
  <h1>-- <%= @board.title %> --</h1>
  <h2>Guess how long it will take Tara to finish the Boston Marathon!</h2>
</div>
<%= link_to "< Back", root_path %>
<table class="output" data-board-id="<%= @board.id %>" valign="middle">
  <% @board.tiles.ordered.in_groups_of(10).each do |group| %>
    <tr>
    <% group.each do |t| %>
      <td class="option <%= t.person.present? ? "selected" : "" %>" data-number="<%= t.order %>">
        <div><%= t.title %></div>
        <div class="name"><%= t.person %></div>
      </td>
    <% end %>
  <% end %>
</table>
<div class="input">
  <label>Name:</label>
  <input type="text" name="name"/>
  <br>
  <a href="javascript:void(0);" class="run">
    Run
  </a>
</div>